# `-rw-r--r-- 1 root root 301 jul 24 16:58 /usr/lib/systemd/system/nftables.router.service`
[Unit]
Description=Netfilter Tables to replace the default table rules after the network is up and IP is assigned.
Documentation=man:nft(8)
Requires=network.target nftables.service
After=network-online.target

[Service]
Type=oneshot

# `tail -2`           # Extract the last two rows.
# `head -1`           # Extract the first row.
# `awk '{print $2}'`  # The second "entity" in row. That is, the "IP".
# `cut -d/ -f1`       # Delete the CIDR.
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment wan_ip=$(ip addr show wlp6s0 | tail -2 | head -1 | awk '{print $2}' | cut -d/ -f1)"

# `head -1`           # Extract the first row.
# `awk '{print $3}'`  # The third "entity" in row. That is, the "IP".
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment gw_ip=$(ip route show | head -1 | awk '{print $3}')"

# Test the ruleset
# nft -D isp_lan_ipv4=1.2.3.4 -D isp_gw_ipv4=1.2.3.4 -cf /sub/bunnix/fhs/etc/nftables.router.conf

ExecStart=/usr/bin/nft --define isp_lan_ipv4=${wan_ip} --define isp_gw_ipv4=${gw_ip} -f /sub/bunnix/fhs/etc/nftables.router.conf

[Install]
WantedBy=multi-user.target
