# Do not enable this unit.
[Unit]
Description=Mount <Device name>

[Mount]
What=/dev/disk/by-uuid/00000000-0000-0000-0000-000000000000
Where=/mnt/target
Type=ext4
TimeoutSec=3

[Install]
WantedBy=multi-user.target
