#
# /usr/lib/systemd/system/sshd.socket
#

# [Unit]
Conflicts=sshd.service
Wants=sshdgenkeys.service

[Socket]
# Warning: Using sshd.socket negates the ListenAddress setting, so it will allow
# connections over any address. To achieve the effect of setting ListenAddress, you
# must specify the port and IP for ListenStream (e.g. ListenStream=192.168.1.100:22).
# You must also add FreeBind=true under [Socket] or else setting the IP address will
# have the same drawback as setting ListenAddress: the socket will fail to start if
# the network is not up in time.
# * https://wiki.archlinux.org/index.php/Secure_Shell#Daemon_management (20171126)

# ListenStream is a list of values. An empty value clears the list; it prevents
# listing to the default port 22.
ListenStream=

# Connecting client must be on same subnet.
ListenStream=<IP>:<SSH PORT>

FreeBind=true
Accept=yes

[Install]
WantedBy=sockets.target
