# `-rw-r--r-- 1 root root 301 jul 24 16:58 /usr/lib/systemd/system/nftables.router.service`
[Unit]
Description=Netfilter Tables to replace the default table rules after the network is up and IP is assigned.
Documentation=man:nft(8)

After=network-online.target
Wants=network-online.target

[Service]
# If `network-online.target` fails
ExecStartPre=/bin/sleep 30

Type=oneshot

ExecStart=/usr/bin/bash -c "\
   isp_00_str=$(ip addr show <INTERFACE #1> | grep 'inet\\b') \
&& isp_01_str=$(ip addr show <INTERFACE #2> | grep 'inet\\b') \
&& isp_00_ipv4=$(echo \"$isp_00_str\" | tail -1 | awk '{print $2}' | cut -d/ -f1) \
&& isp_01_ipv4=$(echo \"$isp_01_str\" | tail -1 | awk '{print $2}' | cut -d/ -f1) \
&& isp_00_gw_ipv4=$(ip route show | head -1 | awk '{print $3}') \
&& isp_01_gw_ipv4=$(ip route show | head -1 | awk '{print $3}') \
&& exec /usr/bin/nft \
  --define wan_00_ipv4=$$isp_00_ipv4 \
  --define wan_00_gw_ipv4=$$isp_00_gw_ipv4 \
  --define wan_01_ipv4=$$isp_01_ipv4 \
  --define wan_01_gw_ipv4=$$isp_01_gw_ipv4 \
  -f /etc/nftables/router/base.conf"

# Test the ruleset
# nft -D wan_00_ipv4=1.2.3.4 -D wan_00_gw_ipv4=1.2.3.4 -D wan_01_ipv4=1.2.3.4 -D wan_01_gw_ipv4=1.2.3.4 -cf /etc/nftables/router/base.conf

[Install]
WantedBy=multi-user.target
