# .include directives are deprecated, and support for them will be removed in a future version of systemd.

[Unit]
Description="Configure default router and gateway for wired and wireless devices with static IP addresses."

Requires=netctl@<NETWORK DEVICE WAN>.static.service netctl@<NETWORK DEVICE 1 LAN>.static.service netctl@<NETWORK DEVICE 2 LAN>.static.service
After=netctl@<NETWORK DEVICE WAN>.static.service netctl@<NETWORK DEVICE 1 LAN>.static.service netctl@<NETWORK DEVICE 2 LAN>.static.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ip addr add 192.168.0.101/24 brd + dev <NETWORK DEVICE WAN>
ExecStart=/usr/bin/ip link set up dev <NETWORK DEVICE WAN>
ExecStart=/usr/bin/ip route add default via 192.168.0.1

[Install]
WantedBy=network-online.target
