[Unit]
Description=Mount NFS storage
Requires=network-online.target
#After=netctl.static.service # ? not necessary ?

[Mount]
What=192.168.1.101:/nfs
Where=/srv/nfs
Options=
Type=nfs

[Install]
WantedBy=multi-user.target
